body {
    font-family: 'Poppis', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /* ahora sí será negro */
    color: aquamarine; /* color de texto por defecto, opcional */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* para centrar verticalmente */
    flex-direction: column; /* para que el h1 y el reloj estén uno encima del otro */
}
